HDFS_BASE_URI=hdfs://localhost:9000
HDFS_WEB_URL=http://localhost:9870
HDFS_USER=user
ANS_HDFS_DIR=hdfs://localhost:9000/dados/raw/ans/
ANS_SOURCE_URL=https://dadosabertos.ans.gov.br/FTP/PDA/informacoes_consolidadas_de_beneficiarios-024/202602/
ANS_LOCAL_TMP_DIR=/tmp/ans
ANS_REQUEST_TIMEOUT_SECONDS=60
LOG_LEVEL=INFO
